:root {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*[type=text] {
  color: #eeeeee;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  background: #2e333a;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background: #222831;
}

.logo a {
  text-decoration: none;
  color: #eeeeee;
  text-transform: uppercase;
  letter-spacing: 0.33rem;
  font-size: 1.7rem;
  -webkit-filter: drop-shadow(0 0 1rem #00adb5);
          filter: drop-shadow(0 0 1rem #00adb5);
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 65vw;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  font-size: 1.2rem;
  color: #00adb5;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1rem;
}

input[type=text] {
  background-color: #eeeeee;
  width: 100%;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  height: 100%;
  height: 92vh;
}

form .checker {
  position: relative;
  left: 75%;
  top: 40%;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  z-index: 98;
  -webkit-transform: rotate(45deg) translate(0, -40%);
          transform: rotate(45deg) translate(0, -40%);
  height: 1.5rem;
  width: 0.75rem;
  border-bottom: 0.3rem solid #00adb5;
  border-right: 0.3rem solid #00adb5;
}

form .ch1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

form .ch2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

form .autocomplete {
  position: relative;
  display: inline-block;
  /*when hovering an item:*/
}

form .autocomplete input {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  outline: none;
  padding-left: 1rem;
  font-size: 1.5rem;
  border: 2px solid transparent;
  color: #eeeeee;
  background-color: #222831;
}

form .autocomplete .autocomplete-items {
  position: absolute;
  border: 2px solid #eeeeee;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  font-size: 1.2rem;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

form .autocomplete .autocomplete-active {
  background-color: #00adb5 !important;
  color: #222831;
}

form .autocomplete .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #cccccc;
  border-bottom: 2px solid #cccccc;
}

form .autocomplete .autocomplete-items div:hover {
  background-color: #00959c;
}

form .auto1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

form .auto2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

form .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .l1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}

form .l2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}

form .l3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}

form .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-weight: 300;
  padding-left: 2rem;
}

form .ti1 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

form .ti2 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

form .ti3 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

form .ti4 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

form .ti5 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

form #date {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

form .date-picker {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 320px;
  min-width: 14rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #37414f;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

form .date-picker .selected-date {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eeeeee;
  font-size: 28px;
}

form .date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  color: #222831;
  background-color: #eeeeee;
}

form .date-picker .dates .month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #cccccc;
}

form .date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222831;
  font-size: 20px;
}

form .date-picker .dates .month .arrows:hover {
  background-color: #cccccc;
}

form .date-picker .dates .month .arrows:active {
  background-color: #00adb5;
}

form .date-picker .dates .days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  height: 200px;
}

form .date-picker .dates .days .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222831;
}

form .date-picker .dates .days .day:hover {
  background-color: #00adb5;
}

form .date-picker .dates .days .day.selected {
  background-color: #37414f;
  color: #eeeeee;
}

form .date-picker .dates.active {
  display: block;
}

form .date-picker:hover {
  background-color: #00adb5;
}

form .adults,
form .kids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

form .adults label,
form .kids label {
  padding-right: 2rem;
  font-size: 1.2rem;
}

form .adults input,
form .kids input {
  text-align: center;
  width: 30%;
  height: 30%;
  border-radius: 1rem;
  outline: none;
  padding-left: 1rem;
  font-size: 1.5rem;
  border: 2px solid transparent;
  color: #eeeeee;
  background-color: #222831;
}

form .kids {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
}

form .btn_bt {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  height: 100%;
  width: 100%;
  background-color: #222831;
  border: none;
  color: #eeeeee;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

form .btn_bt:hover {
  background-color: #00adb5;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */