{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
<script defer type="module" src="{{url_for('static', filename='dist/bundle.js')}}"></script>
{% endblock %}

{% block content %}
<form autocomplete="off" class="form">

    <!-- Auto complete fields -->
    <div class="autocomplete auto1">
        <input id="sStation" type="text" placeholder="Starting station">
    </div>
    <div class="autocomplete auto2">
        <input id="eStation" type="text" placeholder="End station">
    </div>
    <!-- Autocomplete end -->

    <!-- Labels -->
    <h3 type="text" class="label l1">From</h3>
    <h3 type="text" class="label l2">To</h3>
    <h3 type="text" class="label l3">When</h3>
    <!-- Labels end -->

    <!-- Checkers -->
    <div class="checker ch1" id="ch1"></div>
    <div class="checker ch2" id="ch2"></div>
    <!-- Checkers end -->

    <!-- Ticket information -->
    <label type="text" class="info ti1" id='l_route'></label>
    <label type="text" class="info ti2" id='l_from'></label>
    <label type="text" class="info ti3" id='l_to'></label>
    <label type="text" class="info ti4" id='l_when_board'></label>
    <label type="text" class="info ti5" id='l_get_off'></label>
    <label type="text" class="info ti6" id='l_ticket_price'></label>
    <!-- Ticket information end -->

    <!-- Date -->
    <div class="date-picker-container">
        <div class="selected-date"></div>
        <div class="dates">
            <div class="month">
                <div class="arrows prev-mth">&lt;</div>
                <div class="mth"></div>
                <div class="arrows next-mth">&gt;</div>
            </div>

            <div class="days"></div>
        </div>
    </div>
    <!-- Date end when -->

    <!-- passengers quantity -->
    <div class="adults">
        <label type="text">Adults: </label>
        <input type="number" min="0" max="9" id="adults" value="1">
    </div>
    <div class="kids">
        <label type="text">Kids: </label>
        <input type="number" min="0" max="9" id="kids" value="0">
    </div>
    <!-- end passengers quantity -->
    <!-- Choosing a route -->
    <h3 type="text" class="label l4">Which route</h3>
    <div class="route-selector">
        <select type='text' id='selectElmt'>
        </select>
    </div>

    <!-- Buy button -->
    <div class="btn_wraper">
        <button class="btn_bt" id="buy_btn">Buy ticket</button>
    </div>
    <!-- End buy button -->

    </div>
</form>
{% endblock %}